
 @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis' , sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
 }

header section {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   padding: 10px 40px;
   /* border-radius: 60px;
   background-color: rgba(51, 51, 51, 0.4);
   box-shadow: 1px 2px rgba(245, 245, 245, 0.3); */
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 100;
}

header img {
    width: 4em;
}

.navBar a {
    color: #ffae00;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1em;
    text-align: center;
    padding: 6px 15px;
    transition: .5s ;

}

.navBar a:hover,
.navBar a.active {
    color: #020912;
}

.navBar a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffae00;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: .5s;
    
}

.navBar a:hover span,
.navBar a.active span {
    transform: scale(1);
    opacity: 1;
}

.parallax {
    position:  relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(Images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#titre {
    position:  absolute;
    font-weight: bold;
    font-size: 10em;
    text-shadow: 2px 3px #ffae00, 3px 5px 5px #b17900;
    
}

.parallax img {
    position: absolute;
    top: 0;
    width: 100%;
}


.parallax img#gate-right {
    position: fixed;
    transform: translateX(620px);
}

.parallax img#gate-left {
    position: fixed;
    transform: translateX(-570px);
}

.sec {
    position: relative;
    background-color: #020912;

    padding-top: 1%;

}

.sec h2 {
    color: #b17900;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
    font-size: 3.5em;
    text-shadow: 3px 3px #fcac005b;
}

.sec p {
    padding-left: 4%;
    padding-right: 5%;
    padding-top: 2%;
    color: whitesmoke;
    text-decoration: none;
    text-align: justify;
    font-size: 20px;
}

.sec p span {
    color: #b17900;
}

@media (max-width: 1052px) { 
    
    #titre {
        text-align: center;
        font-size: 11em;
        transition: .2s;
    }
    

    #grass {
          margin-top: 30%;
          transition: .2s;
    }
    
    .parallax img#gate-left {
        position: fixed;
        width: 160%;
        transform: translateX(-730px);
        margin-top: 5vh;
        transition: .2s;
    }

    .parallax img#gate-right {
        position: fixed;
        width: 160%;
        transform: translateX(150px);
        margin-top: 5vh;
        transition: .2s;
    }

    .parallax img#tree-right {
        margin-top: 6%;
        transition: .2s;
    }
    
    .parallax img#tree-left {
        margin-top: 6%;
        transition: .2s;
    }
    
}

@media (max-width: 425px) { 

    #titre {
        margin: 250px;
        font-size: 5em;
        transition: .2s;
    }

    #grass {
          margin-top: 100%;
        
    }
    
    .parallax img#gate-left {
        position: fixed;
        width: 210%;
        transform: translateX(-625px);
        margin: 200px;
    }

    .parallax img#gate-right {
        position: fixed;
        width: 210%;
        transform: translateX(-10px);
        margin-top: 200px;
    }

    .parallax img#tree-right {
        margin-top: 40%;
        width: 30em;
    }
    
    .parallax img#tree-left {
        margin-top: 20%;
        width: 40em;
    }
    
    .sec {
        position: relative;
        background-color: #020912;
        margin-top: -325px;
        z-index: 80;
    
    }

    .navBar a span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffae00;
        border-radius: 30px;
        z-index: -1;
        opacity: 0;
        transform: scale(0);
        transition: .5s;
        
    }

}
